* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: "#f8fbff";
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  background-image: url("/wood.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}