*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: "#f8fbff";
}
::-webkit-scrollbar{
    display: none;
}
.content{
    background-color: rgba(255, 255, 255, 0.857);
    width: 70%;
    padding: 20px;
    margin: 30px auto 0;
}
@media screen and (max-width: 1120px) {
    .content {
    width: 95%;
    }
}