.skills {
  margin-top: 100px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  .skills-content {
    padding: 20px;
    width: 70%;
    padding: 20px;
    margin: 30px auto 0;
    background-color: rgba(213, 213, 213, 0.324);
  }
  @media screen and (max-width: 1120px) {
    .skills-content {
      width: 95%;
    }
    
  }
}
