.projectItems {
  display: flex;
  justify-content: center;
  .projectList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
    place-items: center;
    .projectCard{

        :hover
        {
            filter: brightness(0.8);
            scale: 1.05;
            transition: 0.5s;
        }
    }
  }
}
